
body {

background-color: #F8F9F9;
font-family: "Sofia", sans-serif;
}

a {
  text-decoration: none;
}


span {

color: black;
text-decoration: ;
text-indent: 50px;
margin: 30px 0 0 20px;
font-size: 25px;
font-family: Lucida Handwriting;
padding: 50px 0 0 0;

}

button {
height: 55px;
width: 115px;
border-radius: 7px;
font-size: 19px;
background-color: #D6EAF8;
display: inline-block;
margin: 0px 0 0 0;
cursor: pointer;
font-family: "Sofia", sans-serif;
font-weight: 30px;
position: fixed;


}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  background-color: ;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.grid-containerBelgrade {
display: grid;
background-color: ;
margin: 0 0 0 0px;
border: 1px;
grid-template-rows: auto;
grid-template-columns: ;
justify-content: center;
grid-gap: 45px;
align-items: center;
}

.grid-item {
grid-gap: 30px;

}


 img {

width: 900px;
height: 700px;
border: solid 3px #566573;
border-radius: 15px;
margin: 0 7px 0 7px;

 }

h2 {
text-align: center;
font-family: "Sofia", sans-serif;
font-size: 45px;

}

h3 {

text-align: center;
text-decoration: ;
}
